.cajaInputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.cajaInputs input{
    margin-top: 25px;
    width: 400px;
    text-align: center;
    transition: all 0.4s;
}

.cajaInputs input:focus{
    transform: scale(1.1);
}

.botonConfirmarDatos{
    margin-top: 40px;
    padding: 8px;
    background-color: #447CDD;
    color: #ffffff;
    border: none;
    border-radius: 3px ;
    text-decoration: none;
}

.botonConfirmarDatos:hover{
    background-color: #87b859;
}