.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #808080;
}

.logo {
    width: 250px;
    margin: 12px;

}

.botonesHeader {
    margin-left: 190px;
}

.botonInicio,
.botonNosotros,
.botonContactanos {
    margin-right: 90px;
}

.botonInicio,
.botonNosotros,
.botonContactanos {
    padding: 10px;
    color: #447CDD;
    background-color: #ffffff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.botonesHeader button:hover {
    background-color: #447CDD;
    color: #ffffff;
    border-radius: 3px ;
}